
<div>
    <textarea readonly>{{ DisplayValue }}</textarea>
</div>

<p>
    <button (click)="ResetState()" class='button-operation button-clear'>CE</button>
    <button (click)="ClickOperation('/')" class='button-operation'>/</button>
</p>
<p>
    <button (click)="ClickNumber(7)" class='button-numeric'>7</button>
    <button (click)="ClickNumber(8)" class='button-numeric'>8</button>
    <button (click)="ClickNumber(9)" class='button-numeric'>9</button>
    <button (click)="ClickOperation('x')" class='button-operation'>x</button>
</p>
<p>
    <button (click)="ClickNumber(4)" class='button-numeric'>4</button>
    <button (click)="ClickNumber(5)" class='button-numeric'>5</button>
    <button (click)="ClickNumber(6)" class='button-numeric'>6</button>
    <button (click)="ClickOperation('-')" class='button-operation'>-</button>
</p>
<p>
    <button (click)="ClickNumber(1)" class='button-numeric'>1</button>
    <button (click)="ClickNumber(2)" class='button-numeric'>2</button>
    <button (click)="ClickNumber(3)" class='button-numeric'>3</button>
    <button (click)="ClickOperation('+')" class='button-operation'>+</button>
</p>
<p>
    <button (click)="Negate()" class='button-numeric'>+/-</button>
    <button (click)="ClickNumber(0)" class='button-numeric button-offset'>0</button>
    <button (click)="ClickEquals()" class='button-equals'>=</button>
</p>
