
<div>
    <textarea readonly>{{ DisplayValue }}</textarea>
</div>

<p>
    <button class='button-operation button-clear'>CE</button>
    <button class='button-operation'>/</button>
</p>
<p>
    <button class='button-numeric'>7</button>
    <button class='button-numeric'>8</button>
    <button class='button-numeric'>9</button>
    <button class='button-operation'>x</button>
</p>
<p>
    <button class='button-numeric'>4</button>
    <button class='button-numeric'>5</button>
    <button class='button-numeric'>6</button>
    <button class='button-operation'>-</button>
</p>
<p>
    <button class='button-numeric'>1</button>
    <button class='button-numeric'>2</button>
    <button class='button-numeric'>3</button>
    <button class='button-operation'>+</button>
</p>
<p>
    <button class='button-numeric'>+/-</button>
    <button class='button-numeric button-offset'>0</button>
    <button class='button-equals'>=</button>
</p>
